@import 'card.css';
@import 'footer.css';
@import 'nav.css';
/* @import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre&display=swap'); */

body {}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
